{
    "root": true,
    "extends": "airbnb-base",
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "script"
    },
    "rules": {
        "quotes": ["error", "single"],
        "indent": ["error", 4],
        "semi": ["error", "never"],
        "consistent-return": ["off"],
        "class-methods-use-this": ["off"],
        "no-underscore-dangle": ["error", { "allow": ["_csrf", "options_"]}]
    }
}
